body, p {
    font-family: Calibri, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

a:link { color: red; }    
a:visited { color: green; }

input[type="submit"]:hover {
    background-color: red;
}
input[type="submit"]:active {
    background-color: green;
}

ul { list-style-type: square; }
ol { list-style-type: lower-roman; }

table { border-collapse: collapse; width: 100%; }
tr:nth-child(even) {
    background-color: lightgray;
}
tr:hover {
    background-color: lightblue;
}
td, th { border: 1px solid black; padding: 8px; }